<!-- This is the form for submitting new comments on a brewery page. -->
<%= form_for [brewery, comment] do |f| %>

  <div class="control-group">
    <span id="bodytitles">Body</span>
    <div class="controls">
      <%= f.text_area :body, rows: 8 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Add Comment", class: 'btn' %>
    </div>
  </div>
<% end %>