<%= stylesheet_link_tag "styles", :media => "all" %>

<% @styles.each do |style| %>
	<div class="span3">
		<div id="stylesindexopacity">
			<div id="stylesindexoffset">
				<h5 id="stylesstyletitle"><%= link_to style.name, style %></h5>
				<% style.beers.each do |beer| %>
					<span id="stylesbeertitle">
						<ul>
							<li><%= link_to beer.name, beer %></li>
						</ul>
					</span>
				<% end %>
			</div>
		</div>
	</div>
<% end %>