<%= stylesheet_link_tag "styles", :media => "all" %>

<ol>
	<% @styles.each do |style| %>
		<div class="span3">
			<div id="stylesindexopacity">
				<div id="stylesindexopacity">
					<%= link_to style.name, style %>
					<%= style.beers.name %>
				</div>
			</div>
		</div>
	<% end %>
</ol>