<%= stylesheet_link_tag "posts", :media => "all" %>

<div class="row">
	<div class="span6">
		<div id="opacity">
			<span id="headtitle">Recently Drank Beers</span>
		</div>
	</div>

	<div class="span4 pull-right">
		<span id="beerpostlinks">
			<% if can? :create, Post %>
				<%= link_to "New Post", new_post_path, class: 'btn btn-large btn-block' %>
			<% end %>
		</span>
	</div>
</div>

<div class="row">
	<!-- This goes into the post partial in the posts folder -->
	<%= render @posts %>
</div>