#breweryopactiy{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#brewerycommentopacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#breweryoffset{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#brewerycommentoffset{
	margin-left: 20px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#comments{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#brewerytitle{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#bodytitles{
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .03em;
}

#bodytext{
	font-family: 'Josefin Slab';
	font-weight: 400;
	letter-spacing: .03em;
}

#beertable{
	border: 1px solid black;
}

th, td{
	border: 1px solid black;
}

#brewerylink a:link{
	color: #a82109;
	background-color: none;
	border: none !important;
}
#brewerylink a:visited{
	color: #a82109;
	border: none !important;
}
#brewerylink a:hover{
	text-decoration: underline !important;
	color: #a82109 !important;
}