#deviseopacity{
	position: absolute;
	z-index: -1;
	width: 700px;
	height: 250px;
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
}

#edituseropacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#signupopacity{
	position: absolute;
	z-index: -1;
	width: 460px;
	height: 610px;
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
}

#passwordopacity{
	position: absolute;
	z-index: -1;
	width: 460px;
	height: 350px;
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
}

#edituseroffset{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#offset{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	margin-bottom: 70px;
}

#title{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#bodytitles{
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .03em;
}

#red{
	color: #a82109;
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .03em;
}

#bodytext{
	font-family: 'Josefin Slab';
	font-weight: 400;
	letter-spacing: .03em;
}

#links{
	padding-bottom: 15px;
	font-family: 'Josefin Slab';
	font-weight: 700;
}

div a:link{
	color: #a82109;
	background-color: none;
}
div a:visited{
	color: #a82109;
}
div a:hover{
	background: none !important;
	border: none !important;
	text-decoration: underline !important;
}