.welcome{
	width: 780px;
	height: 600px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#welcomeopacity{
	position: absolute;
	z-index: -1;
	width: 780px;
	height: 600px;
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
}

.intro{
	padding: 30px;
	color: #666666;
	font-family: 'Josefin Slab';
	letter-spacing: .04em;
}

.padding{
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 30px;
	height: 100%;
}

.signup{
	position: relative;
	background-color: #c2c2c2;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	font-family: 'Josefin Slab';
	font-weight: 700;
}

.fields{
	margin-left: 60px;
}

#title{
	color: #a82109;
	padding-top: 20px;
	font-family: 'Alfa Slab One';
}

#bold{
	font-family: 'Josefin Slab';
	font-weight: 700;
}

#signuplinks{
	margin-left: 20px;
	padding-bottom: 15px;
}

#signuplinks a:link{
	color: #a82109;
	background-color: none;
}

#signuplinks a:visited{
	color: #a82109;
}

#signuplinks a:hover{
	background: none !important;
	border: none !important;
	text-decoration: underline !important;
}