#beeropacity{
	position: absolute;
	z-index: -1;
	width: 460px;
	height: 35%;
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
}

#commentopacity{
	position: absolute;
	z-index: -1;
	width: 620px;
	height: 60%;
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
}

#offset{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	margin-bottom: 40px;
}

#commentoffset{
	margin-left: 20px;
	margin-right: 10px;
	padding-top: 5px;
	margin-bottom: 50px;
}

#comments{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#bodytitles{
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .03em;
}

#bodytext{
	font-family: 'Josefin Slab';
	font-weight: 400;
	letter-spacing: .03em;
}