#showcommentopacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#postshowpostopacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#showbeertitle{
	color: #a82109;
	font-family: 'Alfa Slab One';
	font-size: 32px;
}

#textoffset{
	margin-left:20px;
	margin-right:20px;
	padding-top: 5px;
	padding-bottom:15px;
}

#commentoffset{
	margin-left:20px;
	margin-right:20px;
	padding-top: 5px;
	padding-bottom:5px;
}

#comments{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#bodytitles{
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .03em;
}

#bodytext{
	font-family: 'Josefin Slab';
	font-weight: 400;
	letter-spacing: .03em;
}

#bodytext a:link{
	color: #a82109;
	background-color: none;
}

#bodytext a:visited{
	color: #a82109;
}

#bodytext a:hover{
	background: none !important;
	border: none !important;
	text-decoration: underline !important;
}

#comment a:link{
	color: #a82109;
	background-color: none;
}

#comment a:visited{
	color: #a82109;
}

#comment a:hover{
	background: none !important;
	border: none !important;
	text-decoration: underline !important;
}