#stylesshowopacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#stylesshowoffset{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#styletable{
	border: 1px solid black;
}

#styletitle{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#bodytitles{
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .03em;
}

#bodytext{
	font-family: 'Josefin Slab';
	font-weight: 400;
	letter-spacing: .03em;
}

th, td{
	border: 1px solid black;
}

#stylelink a:link{
	color: #a82109;
	background-color: none;
	border: none !important;
}
#stylelink a:visited{
	color: #a82109;
	border: none !important;
}
#stylelink a:hover{
	text-decoration: underline !important;
	color: #a82109 !important;
}