#userstatopacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#userstatoffset{
	margin-left:20px;
	margin-right:20px;
	padding-top: 5px;
	padding-bottom:15px;
	margin-bottom: 20px;
}

#userpostsopacity{
	background-color: #ebebeb;
	border-radius: 10px;
	opacity: .9;
	clear:both;
}

#usersposts{
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .02em;
}

#usertitle{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#userbeerstitle{
	color: #a82109;
	font-family: 'Alfa Slab One';
}

#userstats{
	font-family: 'Josefin Slab';
	font-weight: 700;
	letter-spacing: .02em;
}

#beername{
	font-size: 24px;
}

#drankbeers a:link{
	color: #a82109;
	background-color: none;
	border: none !important;
}

#drankbeers a:visited{
	color: #a82109;
	border: none !important;
}

#drankbeers a:hover{
	background: none !important;
	border: none !important;
	text-decoration: underline !important;
	color: #a82109;
}